{{> header}}

<div id="main-modal" class="fixed z-10 inset-0 overflow-y-auto transition ease-out duration-300 opacity-0 invisible"
    aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">

        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

        <!-- This element is to trick the browser into centering the modal contents. -->
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

        <div id="modal-content"
            class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all ease-out duration-300 opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95 sm:my-8 sm:align-middle sm:max-w-sm sm:w-full">
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <div class="sm:flex sm:items-start">
                    <div
                        class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                        <!-- Heroicon name: solid/lock-closed -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-red-600" viewBox="0 0 20 20"
                            fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                    <div class="mt-3 text-center w-full sm:mt-0 sm:ml-4 sm:text-left">
                        <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                            Cambiar Contraseña
                        </h3>
                        <div class="mt-2">
                            <form id="form" class="text-gray-700" action="/cliente/cambio-contrasena" method="POST">
                                <label for="">Contraseña actual</label>
                                <div class="mt-1 flex rounded-md shadow-sm border border-gray-300 py-1">
                                    <input type="password" id="ipt-password" name="actual" required
                                        class="flex-1 block w-full border-none focus:ring-0 sm:text-sm">
                                    <button onclick="showHidePassword()" type="button"
                                        class="inline-flex items-center px-3 focus:outline-none">
                                        <!-- Heroicon name: outline/eye-off -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" id="eye-off"
                                            viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
                                        </svg>
                                        <!-- Heroicon name: outline/eye -->
                                        <svg id="eye" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hidden"
                                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                        </svg>
                                    </button>
                                </div>

                                <label for="">Nueva Contraseña</label>
                                <div class="mt-1 flex rounded-md shadow-sm border border-gray-300 py-1">
                                    <input type="password" id="ipt-password2" name="nueva" required
                                        class="flex-1 block w-full border-none focus:ring-0 sm:text-sm">
                                    <button onclick="showHidePassword2()" type="button"
                                        class="inline-flex items-center px-3 focus:outline-none">
                                        <!-- Heroicon name: outline/eye-off -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                            id="eye-off2" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
                                        </svg>
                                        <!-- Heroicon name: outline/eye -->
                                        <svg id="eye2" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hidden"
                                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                        </svg>
                                    </button>
                                </div>
                                <label for="">Confirmar nueva contraseña</label>
                                <div class="mt-1 flex rounded-md shadow-sm border border-gray-300 py-1">
                                    <input type="password" id="ipt-password3" name="confirmada" required
                                        class="flex-1 block w-full border-none focus:ring-0 sm:text-sm">
                                    <button onclick="showHidePassword3()" type="button"
                                        class="inline-flex items-center px-3 focus:outline-none">
                                        <!-- Heroicon name: outline/eye-off -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                            id="eye-off3" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
                                        </svg>
                                        <!-- Heroicon name: outline/eye -->
                                        <svg id="eye3" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hidden"
                                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                        </svg>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <button type="submit" form="form"
                    class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">
                    Guardar
                </button>
                <button type="button" onclick="closeModal()"
                    class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="p-5 max-w-7xl mx-auto">
    <div class="md:grid md:grid-cols-2 md:gap-6">
        <div class="mt-5 md:mt-0 md:col-span-2">
            <form action="/cliente/perfil" method="POST" enctype="multipart/form-data">
                <div class="shadow sm:rounded-md sm:overflow-hidden">
                    <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
                        <div class="grid grid-cols-6 gap-6">
                            <div class="col-span-6 sm:col-span-3">
                                <label for="first_name" class="block text-sm font-medium text-gray-700">Nombres</label>
                                <input type="text" name="nombres" value="{{user.cliente.nombres}}" id="first_name"
                                    autocomplete="given-name"
                                    class="mt-1 focus:ring-red-500 focus:border-red-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                                    required />
                            </div>

                            <div class="col-span-6 sm:col-span-3">
                                <label for="last_name" class="block text-sm font-medium text-gray-700">Apellidos</label>
                                <input type="text" name="apellidos" value="{{user.cliente.apellidos}}" id="last_name"
                                    autocomplete="family-name"
                                    class="mt-1 focus:ring-red-500 focus:border-red-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                                    required />
                            </div>

                            <div class="col-span-6 sm:col-span-4">
                                <label for="email_address" class="block text-sm font-medium text-gray-700">Correo
                                    electrónico</label>
                                <input type="text" name="email" value="{{user.email}}" id="email_address" disabled
                                    autocomplete="email"
                                    class="mt-1 focus:ring-red-500 focus:border-red-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md cursor-not-allowed" />
                            </div>

                            <div class="col-span-6">
                                <label for="street_address"
                                    class="block text-sm font-medium text-gray-700">Direccion</label>
                                <input type="text" name="direccion" value="{{user.cliente.direccion}}"
                                    id="street_address" autocomplete="street-address" required
                                    class="mt-1 focus:ring-red-500 focus:border-red-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />
                            </div>

                            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                                <label for="state" class="block text-sm font-medium text-gray-700">Documento</label>
                                <input type="text" name="documento" value="{{user.cliente.documento}}" id="state"
                                    class="mt-1 focus:ring-red-500 focus:border-red-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md cursor-not-allowed"
                                    disabled />
                            </div>

                            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                                <label for="postal_code" class="block text-sm font-medium text-gray-700">Celular</label>
                                <input type="text" name="telefono" value="{{user.cliente.telefono}}" id="postal_code"
                                    autocomplete="postal-code" required
                                    class="mt-1 focus:ring-red-500 focus:border-red-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />
                            </div>

                            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                                <label class="block text-sm font-medium text-gray-700">
                                    Foto
                                </label>
                                <div class="mt-1 flex items-center">
                                    <div class="inline-block h-16 w-16 rounded-full overflow-hidden bg-gray-100">
                                        <img id="preview" class="h-full w-full" src="/{{user.cliente.avatar}}" alt="">
                                    </div>
                                    <label for="file"
                                        class="relative ml-3 cursor-pointer bg-white rounded-md font-medium text-gray-700 hover:text-gray-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-gray-500">
                                        <span>Cambiar</span>
                                        <input type="hidden" name="avatar" value="{{user.cliente.avatar}}">
                                        <input onchange="previewImage();" id="file" name="image" type="file"
                                            accept=".jpg, .jpeg, .png, .tiff, .psd, .bmp, .eps, .svg" class="sr-only">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                            <button type="button" onclick="openModal()"
                                class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-black hover:bg-opacity-80 focus:outline-none">Cambiar
                                Contraseña</button>
                            <button type="submit"
                                class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="hidden sm:block" aria-hidden="true">
    <div class="py-5">
        <div class="border-t border-gray-200"></div>
    </div>
</div>
{{> footer}}
<script src="/js/header.js"></script>
<script src="/js/administrador/nuevo-producto.js"></script>
<script src="/js/cliente/perfil.js"></script>